main{
    width: 100%;
}
main h2{
    width: 100%;
}

main .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main .container .img-content{
    width: 33%;
    padding: 0.3rem;
}

main .container .img-content img{
    width: 100%;
    object-fit: cover;
    
}

/* MEDIA QUERIES */

@media screen and (max-width:768px)
{
    main .container .img-content{
        width: 50%;
    }
}

@media screen and (max-width:500px)
{
    main .container .img-content{
        width: 100%;
    }
}